<div class="about-pfp swiper-container" data-cursor-text="Hello!">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="{{ '/assets/images/home/1024_professional_burn.png' | relative_url }}" alt="Profile picture 2"></div>
    <div class="swiper-slide"><img src="{{ '/assets/images/home/1024_headshot_burn.png' | relative_url }}" alt="Profile picture 1"></div>
    <div class="swiper-slide"><img src="{{ '/assets/images/home/1024_stylish_burn.png' | relative_url }}" alt="Profile picture 3"></div>
  </div>
</div>